# Dependencies
node_modules/
backend/__pycache__/
*.pyc

# Production Builds
frontend/dist/
frontend/build/
.vercel/

# Database & Environment
backend/*.db
backend/*.sqlite3
*.sqlite3
.env
.env.local

# IDE & System
.vscode/
.idea/
.DS_Store
Thumbs.db

.vercel
